body {
  background-color: #171515;
}

h1 {
  color: aqua;
  text-align: center;
}

button {
  border-style: double;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  padding: 4px 6px;
}

button:hover {
  background-color: #00ff00;
}

#newarr {
  margin-right: 200px;
}

#bubble,
#selection,
#insertion,
#merge,
#quick,
#sizer,
#speed {
  margin-right: 20px;
}

#bar {
  color: red;
  display: flex;
  justify-content: center;
  height: 400px;
  flex-direction: row;
  padding: 20px 30px 0px 10px;
}

.baritem {
  background: yellow;
  border: 1.25px solid blue;
  width: 0.75%;
}

.sort {
  transition: height 0.2s ease-in-out;
}

input[type="range"] {
  appearance: none;
  width: 150px;
  height: 5px;
  background: white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: aqua;
}

a:hover {
  color: #00ff00;
}

span {
  font-size: large;
  color: white;
}
